@charset "utf-8";

body {
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  color: #0075c2;
}

a:hover {
  background-color: #0075c2;
  color: #fff;
}

#index a {
  border: 1px solid #ddd;
  margin: 1px;
}

#viewer {
  z-index: 10;
}

#menu {
  font-size: 10px;
}

#viewer,
#menu{
  width: 100%;
  overflow: auto;
  position: relative;
}

#half_page {
  margin:0 auto;
  position: relative;
  display: none;
  text-align: center;
}

#half_page_image {
  width: 90%;
}

#half_page a {
  width: 4%;
}

#half_page a:hover {
  background-color: #eee;
  color: #aaa;
}

.pages {
  width: 50%;
}

#page_1,
#previous_half_page {
  float: right;
}

#page_2,
#next_half_page,
#next,
#previous, 
#half_page_image {
  float: left;
}

#page_1,
#next_half_page {
  text-align: left;
}

#page_2,
#previous_half_page {
  text-align: right;
}

#next_half_page,
#previous_half_page {
  width: 40%;
}

#paint_index {
  text-align: center;
  margin: 0 auto;
}

#index {
  margin: 0 auto;
  z-index: 100;
  display: none;
  position: absolute;
  background-color: #fff;
}
