@charset "utf-8";

body {
  width: 100%;
  height: 100%;
  background:url(../images/bg.main.png) #fff;
  position: relative;
  text-shadow: 0px 1px 1px #fff;
}

h1 {
  font-size: 0.9em;
  margin-top: 5px;
}

ul,ol {
  margin-top: 10px;
  margin-bottom: 25px;
}

a {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  color: #555;
  text-shadow: 0px 1px 1px #fff;
  font-size: 1.05em;
}

a:hover {
  color: #aaa;
}

#viewer {
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 1px 3px #aaa;
  text-align: center;

  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

#menu {
  padding: 10px 0;
}

#viewer,
#menu
{
  width: 100%;
  overflow: hidden;
  position: relative;
}

#half_page_image {
  margin: 0 auto;
  float: left;
  width: 100%;
}

#page_1,
#page_2 {
  width: 50%;
}

img {
  cursor: pointer;
}

#half_page {
  position: relative;
}

#half_page .right_control,
#half_page .left_control {
  padding: 61% 0;
  width: 40%;
  cursor: pointer;
}

#half_page .right_control {
  right: 0;
}

#half_page .controllers {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}

.previous_control {
  float: right;
  text-align: right;
}

.next_control{
  float: left;
  text-align: left;
}

#menu .next,
#menu .previous {
  width: 20%;
  display: block;
}

#slider_controller {
  width: 70%;
}
#current_page {
  width: 10%;
  text-align: center;
}

.right_page {
  float: right;
  text-align: left;
}

.left_page {
  float: left;
  text-align: right;
}

#paint_index {
  text-align: center;
  margin: 0 auto;
}

#help,
#index,
#settings {
  margin: 0 auto;
  padding: 1%;
  box-shadow: 0 1px 1px #aaa inset;
  background:url(../images/bg.main.png) #fff;
  border-bottom: 1px solid #fff;
  width: 98%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#help,
#settings {
  display: none;
}

.controller {
  color: #555;
  opacity: 0.20;
}

.notice {
  color: #777;
  font-size: 0.8em;
  margin-left: 2em;
  display: inline-block;
}

input[type="checkbox"] {
  width: 1em;
}

#settings ul {
  list-style: none;
}

#settings li {
  margin-bottom: 20px;
}

#index img {
  display: block;
  background: rgba(200, 200, 200, 0.5);
  padding: 2px;
  margin: 3px 0;
}

#index img:hover {
  background: rgba(251, 184, 41, 0.5);
}

.reading {
  background: rgba(251, 184, 41, 0.5);
  padding: 8px;
}

#index li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.selected {
  box-shadow: 0px 2px 3px -2px #aaa;
}

.move_page_wrapper {
  width: 50%;
  display: block;
  margin: 0 auto;
}

footer{margin:10px; text-align:center;font-size:0.7em;}
